.education-providers {
    h4 {
        margin: 0 0 .75rem;
    }
    li {
        border-top: 1px solid;
        position: relative;
        a {
            display: block;
            padding: .75rem 3.75rem .75rem 0;
        }
        svg {
            width: 1.875rem;
            height: 1.125rem;
            position: absolute;
            right: 0;
            top:1rem;
        }
    }    
}
@media (hover: hover) and (pointer: fine) {
    .education-providers {
        li {
            a {
                span {
                    background-image: linear-gradient(rgba(0, 0, 0, 0) 1px, transparent 0px);
                    background-size: 100% 2em;
                    background-position-y: .875em;
                    text-shadow:
                    1px 1px var(--section-color),
                    1px -1px var(--section-color),
                    -1px 1px var(--section-color),
                    -1px -1px var(--section-color);
                }
                &:hover span {
                    background-image: linear-gradient(rgba(0, 0, 0, 1) 1px, transparent 0px);
                }
            }
        }
    }    
}    
