.education-providers {
    h4 {
        margin: 0 0 .75rem;
    }
    li {
        border-top: 1px solid;
        position: relative;
        div {
            padding: .75rem 3.75rem .75rem 0;
        }
        svg {
            width: 1.875rem;
            height: 1.125rem;
            position: absolute;
            right: 0;
            top:1rem;
        }
    }    
}